body {
    font-family: IRANSans;
    font-size: 10pt;
    word-wrap: break-word;
    text-overflow: ellipsis;
    direction:rtl;
    text-align:right;
    /*padding:2rem 10%;*/
    padding: 0;/*added by me*/
    margin: 0;/*added by me*/
    box-sizing:border-box;
}

a { text-decoration: none; }

p { margin: 0px 0px 0px 0px; }

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('html2pdf://IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('html2pdf://IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('html2pdf://IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('html2pdf://IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('html2pdf://IRANSansWeb.ttf') format('truetype');
}

figure {
    margin: 1em 40px;
}

.table {
    margin: 1em auto;
    display: table;
}

.table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double #b3b3b3;
}

.table table td {
    min-width: 2rem;
    padding: 0.4em;
    border: 1px solid #bfbfbf;
}

tbody > tr:first-child {
    background-color: hsla(0,0%,78%,1);
}

tbody > tr:nth-child(2n + 3) {
    background-color: hsla(0,0%,78%,0.2);
}

.image {
    position: relative;
    clear: both;
    text-align: center;
    margin: 1em auto;
}

.image.image_resized {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}

.image.image_resized img {
    width: 100%;
}

.image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 50px;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.image.image_resized > figcaption {
    display: block;
}

.image > figcaption {
    display: table-caption;
    caption-side: bottom;
    word-break: break-word;
    color: #333;
    background-color: #f7f7f7;
    padding: 0.6em;
    font-size: 0.75em;
    outline-offset: -1px;
}

pre {
    position: relative;
    padding: 1em;
    color: #353535;
    background: hsla(0,0%,78%,0.3);
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-align: left;
    direction: ltr;
    tab-size: 4;
    white-space: pre-wrap;
    font-style: normal;
    min-width: 200px;
}

pre code {
    background: unset;
    padding: 0;
    border-radius: 0;
}

code {
    background-color: hsla(0, 0%, 78%, 0.3);
    padding: 0.15em;
    border-radius: 1px;
}

blockquote {
    border-right: 0;
    border-left: 5px solid #ccc;

    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}