<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CoreNetworkSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
                    <security>
                        <transport realm=""/>
                    </security>
                </binding>
                <binding name="KnowledgeSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1/Services/CoreNetwork.asmx" binding="basicHttpBinding" bindingConfiguration="CoreNetworkSoap" contract="RaaiVanCoreNetwork.CoreNetworkSoap" name="CoreNetworkSoap"/>
            <endpoint address="http://127.0.0.1/Services/Knowledge.asmx" binding="basicHttpBinding" bindingConfiguration="KnowledgeSoap" contract="RaaiVanKnowledge.KnowledgeSoap" name="KnowledgeSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
